[buildout]
develop = .
parts = py test checker coverage-test coverage-report
versions = versions

[py]
recipe = zc.recipe.egg
eggs = z3c.menu.ready2go [test]
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = z3c.menu.ready2go [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/menu/ready2go


[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.menu.ready2go [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[versions]
z3c.template = 2.0.0a2
zope.app.appsetup = 4.0.0a1
zope.app.publication = 4.0.0a1.dev
zope.app.wsgi = 4.0.0a3
zope.browserpage = 4.1.0a1
zope.container = 4.0.0a2
zope.contentprovider = 4.0.0a1
zope.i18n = 4.0.0a4
zope.publisher = 4.0.0a3
zope.security = 4.0.0a3
zope.securitypolicy = 4.0.0a1
zope.session = 4.0.0a1
zope.site = 4.0.0a1
zope.tal = 4.0.0a1
zope.traversing = 4.0.0a2
zope.viewlet = 4.0.0a1
