[buildout]
develop = .
parts = test checker coverage-test coverage-report

[test]
recipe = zc.recipe.testrunner
eggs = z3c.menu.ready2go [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/menu/ready2go


[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.menu.ready2go [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
